/* default view specifications*/

/*logo animations*/
#logo{
    animation-name: logo;
    animation-duration: 5s;
}

@keyframes logo{
    from {
        width:25px;
        opacity:0;
    }
    to {
        width:475px;
        opacity:1;
    }
}

/*body element format*/
body {
    font-family:"Poppins",serif;
    background-image: url("/images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/*header element format*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_link{
    display: flex;
    flex-direction: column;
}

a:visited{
    color:blue;
}

/*card format*/
.card > header{
    background-color: #288088;
    border: solid #45ADAD 2px;
    padding-top: 20px;
    padding-bottom:20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.card{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    flex-basis:450px;
}

.pricing{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}

/*gallery class format using flex*/
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
}

/*larger screen view specification*/
@media only screen and (min-width: 900px) {
    
    header{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
    }

    .nav_links{
        display:flex;
        flex-direction:row;
    }

    .card{
        flex-basis:275px;
    }
    
    /*always visible header*/
    body > header{
        position:sticky;
        top:0;
    }

}

/*No animation when prefers-reduced-motion is selected */
@media (prefers-reduced-motion){
    #logo{
        animation: none;
    }
}

/* Print view specifications*/
@media print{
    body{
        font-family: Arial, Helvetica;
        background-image:none;
    }

    .nav_links{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-around;
    }

    nav{
        width:100%;
    }

    .pricing{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    }

    .card{
        border:solid 2px #45ADDD;
        flex-basis:325px;
    }

    .gallery,#gallery{
        display:none;
    }

    /*add thumbs up emoji*/
    .card > ul > li:nth-child(2)::after{
        content:"\01F44D"
    }


}
